body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    color: #ffff;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px;
}

h2 {
    color: #333333;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

project {
    border: 1px solid #7b0c4f;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 9px;
    position: fixed;
    bottom: 0;
    width: 100%;
}